@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --kindawhite: #ebf1e6;
  --green: #26887d;
  --lightergreen: #56b4a1;
}

* {
  background-color: var(--kindawhite); 
  color: var(--green);
  font-family: 'Work Sans', sans-serif;
}

.about {
  padding: 1rem;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid var(--lightergreen);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--lightergreen);
  text-decoration: underline;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search:focus {
  outline: var(--kindawhite);
}

.title {
  margin-bottom: 0rem;
  margin-top: 10%;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.option {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  text-decoration: 1px underline;
  font-size: 0.9rem;
  padding: 0.25rem;
}

.option:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.optionButtons {
  display: flex;
  flex-direction: row;
}

.closeButton {
  border: 1px solid;
  color: var(--kindawhite);
  background-color: var(--green);
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  font-size: 0.625rem;
}

.closeButton:hover {
  cursor: pointer;
}

.selectedIngredient {
  display: flex;
  align-items: center;
  background-color: var(--green);
  padding: 0.55rem;
  color: var(--white);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  margin: 0.25rem;
}

.searchBar {
  display: flex;
  flex-direction: row;
  border: 1.5px solid var(--green);
  border-radius: 0.25rem;
}

.search {
  margin: 0.3rem;
  padding: 0.15rem;
  border: 1.5px solid var(--kindawhite);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  width: 90%
}

.matching {
  margin-top: 0.28rem;
  font-size: 0.9rem;
}