@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
* {
  background-color: #ebf1e6; 
  color: #26887d;
  font-family: 'Work Sans', sans-serif;
}

.about {
  padding: 1rem;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #56b4a1;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #5bc0ac;
  text-decoration: underline;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search:focus {
  outline: #ebf1e6;
}

.title {
  margin-bottom: 0rem;
  margin-top: 10%;
}

.description {
  margin-top: 0.5rem;
}

.option {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  text-decoration: 1px underline;
  font-size: 0.9rem;
  padding: 0.25rem;
}

.option:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.optionButtons {
  display: flex;
  flex-direction: row;
}

.closeButton {
  border: 1px solid;
  color: #ebf1e6;
  background-color: #26887d;
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  font-size: 0.625rem;
}

.closeButton:hover {
  cursor: pointer;
}

.selectedIngredient {
  display: flex;
  align-items: center;
  background-color: #26887d;
  padding: 0.5rem;
  color: #ebf1e6;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  margin: 0.25rem;
}

.searchBar {
  display: flex;
  flex-direction: row;
  border: 1.5px solid #26887d;
  border-radius: 0.25rem;
}

.search {
  margin: 0.5rem;
  padding: 0.25rem;
  border: 1.5px solid #ebf1e6;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}